@import "/styles/icons.css";
@import "/styles/header.css";
@import "/styles/rules.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
:root {}

* {
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient( to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font-size: 30px;
}

@media (max-width: 750px) {
    body {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 20px;
    }
}